[submodule "pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "third_party/picotool"]
	path = third_party/picotool
	url = https://github.com/raspberrypi/picotool
[submodule "third_party/BME280_SensorAPI"]
	path = third_party/BME280_SensorAPI
	url = https://github.com/boschsensortec/BME280_SensorAPI
