[submodule "pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "picotool"]
	path = third_party/picotool
	url = git@github.com:raspberrypi/picotool.git
